// Primary
$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

// Neutral
$neutral-dark: hsl(234, 12%, 34%);
$neutral-medium: hsl(229, 6%, 66%);
$neutral-light: hsl(0, 0%, 98%);

// Type Sizes
$font-p-sm: 0.8125rem;
$font-p-lrg: 0.9375rem;
$font-title: 1.25rem;
$font-headline-sm: 1.5rem;
$font-headline-lrg: 2.25rem;